<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "public-id" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accident">

    <resultMap id="result" type="accident">
        <result property="id" column="accident_id"/>
        <result property="cost" column="cost"/>
        <result property="accidents" column="accidents"/>
        <result property="vehicleId" column="vehicle_id"/>
        <result property="drivingId" column="driving_id"/>
    </resultMap>

    <!-- ReadAll, Create, Read, Update, Delete -->
    <select id="readAll" resultMap="result">
        SELECT * FROM accident;
    </select>
    <select id="read" parameterType="int" resultMap="result">
        SELECT * FROM accident WHERE accident_id = #{id};
    </select>
    <insert id="create" parameterType="Accident">
        INSERT INTO accident (accident_id, cost, accidents, vehicle_id, driving_id)
        VALUES (#{id}, #{cost}, #{accidents}, #{vehicleId}, #{drivingId});
    </insert>
    <update id = "update" parameterType="Accident">
        UPDATE accident SET cost=#{cost}, accidents=#{accidents},
        vehicle_id = #{vehicleId}, driving_id = #{drivingId}
        WHERE accident_id=#{id};
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM accident WHERE accident_id=#{id};
    </delete>
</mapper>